boto3==1.43.100
certifi==2026.7.22
chardet==7.4.3
click==8.4.1
filewarmer==0.0.17
Flask==3.1.3
gunicorn==20.0.4
honcho==2.0.0
idna==3.20
ipython==8.12.3
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
passlib==1.7.4
peewee==3.13.1
prometheus_client==0.26.0
PyMySQL==1.1.2
python-crontab==3.4.0
python-dateutil==2.9.0.post0
requests==2.34.2
rq==2.6.1
urllib3==2.8.0
Werkzeug==3.1.6
wrapt==1.16.0
docker==7.2.0
filelock==3.29.3
sentry-sdk[flask, rq]==2.60.0
sql_metadata==2.15.0
py-spy==0.4.2
mariadb-binlog-indexer==0.0.20
mariadb-table-usage==0.0.3
psutil==7.2.2
tomli==2.4.1
semantic-version==2.10.0
